@charset "utf-8";

div {
    width: 150px;
    height: 150px;
    /* background: red; (배경색) */
    border: 1px solid red;/* 테두리 색 */
    margin: 20px;
}

div:nth-of-type(1) {
    border-radius: 20px;
}
div:nth-of-type(2) {
    border-top-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 40px;
}
div:nth-of-type(3) {
    /* LT(상단왼쪽),과 RB(오른쪽하단)이 10px */
    /* 상단오른쪽, 하단왼쪽 -> 20PX */
    border-radius: 10px 20px;
}
div:nth-of-type(4) {
    /* LT(상단왼쪽)-> 10px */
    /* 상단오른쪽, 하단왼쪽 -> 20px */
    /* 하단오른쪽 -> 30px */
    border-radius: 10px 20px 30px;
}
div:nth-of-type(5) {
    /* LT(상단왼쪽)-> 10px */
    /* 상단오른쪽 -> 20px */
    /* 하단오른쪽 -> 30px */
    /* 하단왼쪽 -> 40px */
    border-radius: 10px 20px 30px 40px;
}
div:nth-of-type(6) {
    /* border-radius: 75px; px(고정 크기의 단위) 원래크기의 반절 숫자 */
    border-radius: 50%;/* 부모크기의(width, height) 50%  상황에 관계없이 사용할 때는 % 사용 */
}
div:nth-of-type(7) {
    /* border-radius: 75px;원래크기의 반절 숫자 */
    width: 75px;
    border-radius: 75px 0 0 75px;
}
div:nth-of-type(8) {
    /* border-radius: 75px;원래크기의 반절 숫자 */
    width: 75px;
    height: 75px;
    border-radius: 75px 0 0 0;
}
