@charset "utf-8";

/*
스타일가이드
coler: 색 font-family: 글꼴 font-size: 크기 (fz숫자) font-style: italic;
이탤릭 (fs) font-weight: 굵기,
100, 200, ~900 (단위없음) (fw) line-height: 줄간격 (150%) 1.5~2 (단위 생략) (lh) px는 소수점으로 쓰지 않는다. text-align: 맞춤 style guide(스타일 가이드) h1~h3,
Nav a: Georgia,
italic body,
p,
Section,
a: Arial 한글 제목: Noto Sans KR 한글 본문: Noto Sans KR 
단위: rem, em, px, % 
h1: 50px,
lh60px h2: 30px,
lh36px h3: 22.5px,
lh33.75px h3 span: 22.5px,
400,
lh33.75px nav a: 20px,
lh100px body: 15px lh22.5px->150~200% 가독성이 좋다 */

/* font 글자 속성은 상속받는다. */

/* font */
html {
    font-size: 10px;
}

body {
    font: 15px/1.5 "Noto Sans KR", sans-serif;
}

h1,
h2,
h3,
nav a {
    font-family: Georgia, 'NanumSquareNeo-Variable';
    font-style: italic;
}

h1 {
    font-size: 50px;
    color: #fff;
}

h2 {
    font-size: 3rem;
    color: #000;
}

h3 {
    font-size: 22.5px;
}

a {
    color: #444;
    text-decoration: underline;
}

nav a {
    font-size: 2rem;
    color: #444;
    text-decoration: none;
}