@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular';
}
.s1 h1 {
    /* letter-spacing: 4px; */
    font-family: "Lexend Deca", sans-serif;
    font-size: 96px;
    font-weight: normal;
    color: #ffd900;
}

/* typo */
.s2 h1{
    font-size:35px;
}

.s2 .new{
    font-size:23px;
}

.new2 div{
    font-size:23px;
}

select {
    font-family: 'Pretendard-Regular';
    font-weight: 700;
    font-size: 16px;
}

input {
    font-family: 'Pretendard-Regular';
    font-size: 18px;
    color: #d6d6d6;
}