@charset "utf-8";
@import url(reset.css);
@import url(typo.css);

/* slick 슬라이드 */
.slider {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* 슬라이드 전체 크기 */
    max-width: 260px;
}

/* 슬라이드 아이템 */
.slick-slide {
    margin: 8px 10px;
    background: #fff;
    border-radius: 15px;
    /* 이미지 상단 영역 모서리 둥글게 보이기 */
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
}

/* 설명글 */
.slick-slide .tit {
    padding: 8px 24px;
}

/* 이전(prev)/다음(next) 버튼 */
.slick-prev,
.slick-next {
    z-index: 9999;
    width: 30px;
    height: 30px;
    padding: 4px;
    border-radius: 50%;
    background: #ccc;
}

.slick-prev:hover,
.slick-next:hover {
    background: #ccc;
}

.slick-prev::before,
.slick-next::before {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0px;
    background: url(../assets/section5/btn-slider-arrow-white.svg);
}

.slick-prev {
    left: min(-7vw, -40px);
}

.slick-next {
    right: min(-7vw, -40px);
}

.slick-prev::before {
    transform: rotate(180deg);
}


@media (min-width: 768px) {
    .slider {
        max-width: 620px;
    }

    .slick-slide {
        margin: 8px 12px;
    }

    .slick-prev,
    .slick-next {
        width: 44px;
        height: 44px;
        padding: 6px;
    }
}

@media (min-width: 992px) {
    .slider {
        max-width: 1210px;
    }

    .slick-slide {
        margin: 8px 16px;
    }

    .slick-prev,
    .slick-next {
        width: 50px;
        height: 50px;
        padding: 8px;
    }
}