@charset "utf-8";
@import url(../reset.css);
@import url(../common.css);


/* 섹션1 */
section.s1 {
    width: 100%;
    height: 500px;
    position: relative;
}

.s1 .text {
    width: 90vw;
    position: absolute;
    text-align: center;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bg_circle {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    height: 500px;
    background: #0033a081;
    border-radius: 50%;
}

.s1 img {
    width: 100%;
    height: 500px;
    margin: 0 aute;
}

/* 섹션2 */
.s2 .ibx {
    width: 60vw;

    margin: 0 auto;
}

.s2 .title {
    text-align: center;
    margin: 94px 0 61px 0;
}

/* 가로 가운데 배치: width+margin */
/* .s2 .arrow {
    width: 23px;
    margin: 0 auto;
} */

.s2 .history_img {
    position: relative;
    width: 318px;
    height: 210px;
    margin: 0 auto;
}

.s2 .history_img img {}

.s2 .history_img .img_txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    text-align: center;
}

/* .s2 .history_box {
    height: 494px;
    padding: 40px 0 104px;
    background: #222;
} */

/* 768이상: 테블릿 */
@media (min-width: 768px) {
    .s2 .history_img {
        width: 720px;
        height: 434px;
        margin: 0 auto;
    }
}

/* 992이상: 데스크탑 */
@media (min-width: 992px) {
    .s1 .text {
        width: 66vw;
    }
}