@charset "utf-8";
@import url(../reset.css);
@import url(../common.css);


/* 섹션1 */

section.s1 {
    width: 100%;
    height: 500px;
    position: relative;
}

.s1 .text {
    width: 90vw;
    position: absolute;
    text-align: center;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bg_circle {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    height: 500px;
    background: #0033a081;
    border-radius: 50%;
}

.s1 img {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

/* 섹션2 */
.s2 .ibx {
    width: 90vw;
    margin: 0 auto;
}

.s2 .title {
    text-align: center;
    margin: 94px 0 61px 0;
}

/* 가로 가운데 배치: width+margin */
/* .s2 .arrow {
    width: 23px;
    margin: 0 auto;
} */

.s2 .history_img {
    position: relative;
    width: 318px;
    height: 210px;
    margin: 0 auto;
}


.s2 .history_img .img_txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.s2 .history_txt {
    width: 318px;
    height: 180px;

    align-content: center;
    margin: 48px auto;
    background: #f7f7f7;
}

.s2 .history_txt h3 {
    text-align: center;
    margin-bottom: 11px;
}

/* 768이상: 테블릿 */
@media (min-width: 768px) {

    .s2 .history_img {
        width: 680px;
        height: 434px;
    }
    .s2 .history_txt {
        width: 680px;
        height: 390px;
    }

}

/* 992이상: 데스크탑 */
@media (min-width: 1500px) {
    .s1 .text {
        width: 60vw;
    }

    .s2 .ibx {
        width: 60vw;
    }
    .s2 .hbox {
        position: relative;
        width: 100%;
        height: 494px;
        padding: 40px 0 104px 0;
    }
    .s2 .history_img {
        position: absolute;
        z-index: +1;
        right: 70px;
        width: 567px;
        height: 340px;
    }
    .s2 .history_txt {
        position: absolute;
        top: 50px;
        width: 100%;
        height: 354px;
        padding: 0 680px 0 70px;
    }
    .s2 .history_txt h3 {
        text-align: left;
    }
    .s2 .history_txt h3::after {
        content: '';
        display: block;
        width: 60px;
        height: 1px;
        background-color: #8f8f8f;
        margin: 28px 0 34px;
    }
    .s2 #hbox .history_img {
        left: -370px;
    }
    .s2 #hbox  .history_txt {
        padding: 0 70px 0 680px;
    }
}