@charset "utf-8";

* {
    box-sizing: border-box;
}

body,h1,h2,ul,p {
    margin: 0;
}
body {
    background: #fff;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #666666;
}
    /* background (흰색)꼭지정해야 한다. 아니면 투명이고 다른사람이 바꿀수있다. */
body {
    background: #fff;
}